
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Spectral:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');
*{
box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: aliceblue;
  font-family: 'Cinzel', serif;
  font-family: 'Spectral', serif;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-btn{
  background-color: rgb(255, 236, 70);
  position: fixed;
  top:0;
  left: 0;
  color: black;
}
.clock{

  background-color: rgb(22, 21, 21);
  margin: 20px;
  border-style: ridge;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 470px) {
  .clock{
    top:5vh;
    margin: 10px;
  }

}

button{
  background-color: black;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px;
  margin: 7px;
  cursor: pointer;
}
button :active {
  transform: scale(0.5);
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 470px) {
  .flex-responsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

.regultors{
  background-color:rgb(155, 155, 155);
  border-radius: 10px ;
}
.timer-container{
  padding: 5px;
  margin: 15px;
  background-color:rgb(66, 66, 66);
  border-radius: 10px;
  border-width: 5px  0 0 5px;
  border-color: rgb(39, 38, 38);
  border-style: ridge;
}
.timer-container h3{
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 10px;
}
@media only screen and (max-width: 470px) {
  .timer-container{
    padding: 2.5px;
    margin: 10px;
    background-color:rgb(66, 66, 66);
    border-radius: 10px;
    border-width: 5px  0 0 5px;
    border-color: rgb(39, 38, 38);
    border-style: ridge;
  }
}
.actions-wrpper span{
  color: black;
   font-size: 40px;
   margin: 0 10px;
   width: 40px;
}
.clock-box-continer{

  text-align: center;
  display: inline-block;
  padding: 10px;
  width: 400px;
  height: auto;
}
.clock-box-continer p{
  font-family: 'Spectral', serif;
  text-align: center;
  line-height: 20px;
  margin: 29px;
  
}
@media only screen and (max-width: 470px) {
  .clock-box-continer{
    text-align: center;
    display: inline-block;
    padding: 15px;
    width: auto;
    height: auto;
  }

}

.timer{
  margin: 5px;
  border: 2px solid white;
  height:100px;
  padding: 20px;
  font-size: 60px;
  border-radius: 10px;
}
.spinMovement{
  animation-name: spin;
  animation-duration: 800ms;
  animation-iteration-count: 3;
  animation-timing-function: ease-out; 
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
.footertext{
  text-align: right;
  color:rgb(255, 255, 255);
  position:fixed;
  width: 98vw;
  left: 0px;
  bottom:0px;
  font-size: 15px;
  
}
.mt-4{
  margin-top: 20px;
}
.no-decoration{
  text-decoration: none;
  color:rgb(247, 247, 247);
}
